
**/parse_lib/CMakeFiles/
**/parse_lib/cmake-build-debug/
/parse_lib/CMakeCache.txt
/parse_lib/Makefile
/parse_lib/cmake_install.cmake

**/spell_lib/CMakeFiles/
**/spell_lib/cmake-build-debug/
/spell_lib/CMakeCache.txt
/spell_lib/Makefile
/spell_lib/check_lib.cbp
/spell_lib/cmake_install.cmake

.packages
/.idea/
/.dart_tool/
